:root {
  --teal: rgb(105, 201, 161); 
  --lgtgrn: rgb(245, 255, 213);
  --white: white;
  --medgrn: #BAC9A9;
  --darkgrn: #697060;

}


.App {
  background: url("./tree_bark.png");
}

 
.YearChooser-select {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.yearChooser {
  position: relative;
  display: inline-block;
  left: 700px;
  top: -50px;

}


.TitleBar {
  box-sizing: border-box;
  padding-left: 5vw;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 5px;
  color: white;
  background: var(--darkgrn);
  opacity: .9;
  height: 20vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.8em;
  align-items: middle;
  border-bottom-left-radius: 15px;

}

.TitleBar:before {
  content:"";
  width: 16px;
  height: 17px;
  background-color: var(--darkgrn);
  position: absolute;
  top: 127px;
  right: 0px;
  z-index: 0;
}

.TitleBar:after {
  content:"";
  width: 28px;
  height: 28px;
  background: url("./tree_bark.png"); 
  top: 127px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: 0;
}


h1 {
  display:block;
  margin: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 35pt;
  color: white;
  -webkit-text-fill-color: rgb(226, 200, 188);
  -webkit-text-stroke-width: 1.2px;
  
}

.yearChooser {
  margin-left: 200px;
}

.YearChooser-select {
  width: 125px;
  height: 25px;
  outline:none;
}

.go-btn {
  font-size: 12px;
  color: black;
  margin: 10px;
  width: 35px;
}



.MainContainer {
  grid-template-rows: 150px auto;
  display: grid;
  background: url("./tree_bark.png");
  height: 80vh;

  
}

.CountryCheckbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: -25px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
    
}

.button-primary {
background-color: rgb(255, 252, 252); 
border-radius: 15px;
color: rgba(73, 72, 72, 0.973);
border-width: 1.5px;
margin-top: -65px;
padding: 5px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
}

.button-primary:hover {
background-color: rgb(226, 200, 188);
color: black;
}

.button-primary:focus {
background-color: rgb(226, 200, 188);
outline:none;

}


h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 0px;
  color: white;
  font-size: larger;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-left: 10px;
  margin: 0px;
  color: white;
 
}

.remove-btn {
  font-family: 'Roboto', sans-serif;
  border-style: solid black 1px;
  font-size: medium;
  margin-top: 10px;
  background-color: rgb(255, 252, 252);
  border-radius: 15px;
  box-shadow: 0 6px #999;
  outline:none;
}

.remove-btn:active {
  background-color: rgb(226, 200, 188);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.remove-btn:hover {
  background-color: rgb(226, 200, 188);
  transition: .5s;
}



.BarChart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  align-items: end;
  position: relative;
  box-sizing: border-box;
}


.bar {
  display: none;
}

.bar--show {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 230px;
  background-color: var(--darkgrn);
  color: white;
  padding-bottom: 50px;
  font-size: large;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  transition: height .5s,
              padding .5s,
              min-height .5s;           

}

.bar:nth-child(odd) {
  background-color: var(--teal);
}

.bar:hover {
  transition: .5s;
  padding-bottom: 65px;
}


